<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>=v=</title>
	<link rel="icon" href="<%= context.config.publicPath +'favicon.png'%>" type="image/x-icon" />
</head>

<body>
	<noscript>No Script</noscript>
	<div id="root">
		<style>
			html, body, #root {
				height: 100%;
				margin: 0;
				padding: 0;
			}

			#tip {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color:#d34242;
				font-size: 18px;
			}
		</style>
		<div id="tip">
			我已经出门了，马上到
		</div>
	</div>
</body>

</html>